<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FINDING ROOMIE</title>
    <link rel='stylesheet' type="text/css" href="{% static 'style.css' %}"/>
  </head>
  <body>
    <script>
      var randomlinks=new Array()
      // 랜덤으로 보여줄 프로필 링크 걸기
      randomlinks[0]="http://www.youtube.com"
      randomlinks[1]="http://www.daum.net"
      randomlinks[2]="http://www.everytime.kr"
      randomlinks[3]="http://news.co.kr"
      randomlinks[4]="http://www.naver.com"
      
      function randomlink(){
      window.location=randomlinks[Math.floor(Math.random()*randomlinks.length)]
    </script>
    <div class="container">
      <div class="header">
        <h1><a href="#">FINDING ROOMIE</a></h1>
        <div class="nav">
          <ul>
            <form class="search_form" action="{% url 'search' %}" method="post">
              {% csrf_token %}
              <select name="fd_name" id="" class="form-control">
                  <option value="">필터</option>
                  <option value="major">나이</option>
                  <option value="hope_area">전공</option>
                  <option value="hope_area">성별</option>
                  <option value="hope_area">지역</option>
              </select>
              <input class="search_text" type="search" placeholder="Search" name="q" value="{{q}}">
              <button class="search_btn" type="submit">Search</button>
          </form>
            <li>
            {% csrf_token %}
            {% if user.is_authenticated %}
            
            안녕하세요, {{user.username}} 님!
            {% endif %}
            </li>
            
            <li>
            {% if not user.is_authenticated %}
            <a href="{%url 'login'%}">Login</a>
            <a href="{%url 'register'%}">Sign up</a>
            {% endif %}
            </li>
            <li>
            {% if user.is_authenticated %}
            <a href="{%url 'MyPage'%}">MyPage</a>
            <a href="{%url 'logout'%}">Logout</a>
            {% endif %}
            </li>
          </ul>
        </div>
      </div>
      <div class="hero">
        <h2>나의 영혼의 룸메이트 구하기</h2>
        <p>
          여러분의 생활습관과 가장 비슷한 룸메이트를 추천해드립니다. <br />
          안전하게 같은 학교 내에서 영혼의 룸메이트를 찾아보세요!
        </p>
        <button name="B1" value="추천 룸메이트 보기" onclick="randomlink()">
          추천 룸메이트 보기
        </button>
      </div>
    </div>
    <div class="list_wrap" id="hihi"> 
      <ul>
        {% for user in users %}
        {% if user.profile_active %}
        <li class="item">
          <a href="{%url 'detail' user.id %}" onclick="window.open(this.href, '_blank', 'width=720px,height=1280px,toolbars=no,scrollbars=no'); return false;">
            <div class="image">
              {%if user.profile_img%}
              <img src="{{user.profile_img.url}}" alt="" width="128px" height="128px">
              <div class="top"><strong>{{user.username}} 님</strong></div>
              {% endif %}
            </div>
            <div class="etc">
              <p>{{user.age}} 살</p>
              <p>{{user.major}}</p>
              <p>{{user.studentID}}</p>
            </div>
        </li>
      </a>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
  </body>
</html>
